/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  body{
    font-size: 8px;
  }

  .factTools {
      font-size: 6px;
      margin-top: 5px;
      a {
        font-size: 6px;
        text-transform: capitalize;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .slide-tool-item {

      }
      .slide-tool-share-html {
        width: 100%;
      }


      // display: block;
  }

  .trending_content_item {
    width: 97%;
  }
  #logo {
    margin-left: 10px;
    font-size: 10px;
  }

  #footer{
    font-size: 12px;
    a{
      font-size: 10px;
    }
    #footer_copyright{
      font-size: 9px;
    }
    #footer_logo{
      a{
        font-size: 12px;
      }
    }

    #footer_social {
      a {
        font-size: 18px;
      }
    }
  }

  #footer_social {
      width: 100%;
      text-align: center;
    margin-bottom: .5rem;
  }

  #footer_about{
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  #footer_logo {
      width: 100%;
      text-align: center;
    margin-bottom: .5rem;
  }


  #footer_about a {
    padding-left: .5em;
    padding-right:.5em;
  }


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }



}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 425px) {
  body{
    font-size: 10px;
  }

  .factTools {
      font-size: 8px;
      margin-top: 5px;
      a {
        font-size: 8px;
        text-transform: capitalize;
      }
      display: flex;
      justify-content: center;
      // display: block;
      flex-wrap: wrap;
      .slide-tool-item {

      }
      .slide-tool-share-html {
        width: 100%;
      }
  }

  .trending_content_item {
    width: 97%;
  }

  #logo {
    margin-left: 10px;
    font-size: 15px;
  }

  #footer{
    font-size: 12px;
    a{
      font-size: 11px;
    }
    #footer_copyright{
      font-size: 10px;
    }
    #footer_logo{
      a{
        font-size: 13px;
      }
    }

    #footer_social {
      a {
        font-size: 20px;
      }
    }
  }
  #footer_social {
      width: 100%;
      text-align: center;
    margin-bottom: .5rem;
  }

  #footer_about{
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  #footer_logo {
      width: 100%;
      text-align: center;
    margin-bottom: .5rem;
  }


#footer_about a {
  padding-left: .5em;
  padding-right:.5em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  #prev {
    top: 6.4em;
  }
  #prevT {
    top: 6.2em;
  }

  #next {
    top: 6.4em;
  }
  #nextT {
    top: 6.5em;
  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 425px) {
  body{
    font-size: 9px;
  }

  .factTools {
      font-size: 9px;
      margin-top: 5px;
      a {
        font-size: 9px;
        text-transform: capitalize;
      }
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      // display: block;
      .slide-tool-item {

      }
      .slide-tool-share-html {
        width: 100%;
    }
  }

  .trending_content_item {
    width: 97%;
  }

  #logo {
      margin-left: 10px;
      font-size: 20px;
  }

  #footer{
    font-size: 12px;
    a{
      font-size: 12px;
    }
    #footer_copyright{
      font-size: 11px;
    }
    #footer_logo{
      a{
        font-size: 15px;
      }
    }

    #footer_social {
      a {
        font-size: 22px;
      }
    }
  }

  #footer_social {
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
}

#footer_about{
  width: 100%;
  text-align: center;
    margin-bottom: .5rem;
}

#footer_logo {
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
}


#footer_about a {
  padding-left: .5em;
  padding-right:.5em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }


}

/***

  Landscape Mobile
**/

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
  body{
    font-size: 20px;
  }

  .factTools {
      font-size: 10px;
      margin-top: 15px;
      a {
        font-size: 10px;
        text-transform: uppercase;
      }
      display: flex;
      justify-content: center;
      // display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }

  .trending_content_item {
    width: 97%;
  }

  #logo {
      margin-left: 20px;
      font-size: 25px;
  }

  #footer{
    font-size: 12px;
    a{
      font-size: 12px;
    }
    #footer_copyright{
      font-size: 11px;
    }
    #footer_logo{
      a{
        font-size: 16px;
      }
    }

    #footer_social {
      a {
        font-size: 24px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 48%
}

#footer_logo {
    width: 42%;
    text-align: left;
}


#footer_about a {
  padding-left: .5em;
  padding-right:.5em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #prev {
    top: 6.5em;
  }
  #prevT {
    top: 6.3em;
  }

  #next {
    top: 6.5em;
  }
  #nextT {
    top: 6.6em;
  }


}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    font-size: 20px;
  }

  .factTools {
      font-size: 10px;
      margin-top: 15px;
      a {
        font-size: 10px;
        text-transform: uppercase;
      }
      display: flex;
      justify-content: center;
      // display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }

  .trending_content_item {
    width: 97%;
  }

  #logo {
      margin-left: 20px;
      font-size: 25px;
  }

  #footer{
    font-size: 12px;
    a{
      font-size: 12px;
    }
    #footer_copyright{
      font-size: 11px;
    }
    #footer_logo{
      a{
        font-size: 16px;
      }
    }

    #footer_social {
      a {
        font-size: 24px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 48%
}

#footer_logo {
    width: 42%;
    text-align: left;
}


#footer_about a {
  padding-left: .5em;
  padding-right:.5em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    font-size: 25px;
  }

  .factTools {
      font-size: 12px;
      margin-top: 20px;
      a {
        font-size: 12px;
        text-transform: uppercase;
      }
      display: flex;
      justify-content: center;
      // display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }

  .trending_content_item {
    width: 97%;
  }
  #logo {
      margin-left: 25px;
      font-size: 35px;
  }

  #footer{
    font-size: 14px;
    a{
      font-size: 12px;
    }
    #footer_copyright{
      font-size: 12px;
    }
    #footer_logo{
      a{
        font-size: 18px;
      }
    }

    #footer_social {
      a {
        font-size: 26px;
      }
    }
  }

#footer_social {
    width: 25%;
}

#footer_about{
  width: 45%
}

#footer_logo {
    width: 45%;
    text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    font-size: 33px;
  }

  .factTools {
      font-size: 15px;
      margin-top: 20px;
      a {
        font-size: 15px;
        text-transform: uppercase;
      }
      display: flex;
      justify-content: center;
      // display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }

  .trending_content_item {
    width: 50%;
  }

  #logo {
      margin-left: 30px;
  }

  #footer{
    font-size: 14px;
    a{
      font-size: 12px;
    }
    #footer_copyright{
      font-size: 13px;
    }
    #footer_logo{
      a{
        font-size: 20px;
      }
    }

    #footer_social {
      a {
        font-size: 28px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 40%
}

#footer_logo {
    width: 50%;
    text-align: left;
}


#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }


  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    font-size: 42px;
  }

  .factTools {
      font-size: 18px;
      margin-top: 25px;
      a {
        font-size: 18px;
        text-transform: uppercase;
      }
      display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }

  .trending_content_item {
    width: 30%;
  }
  #logo {
      margin-left: 40px;
  }

  #footer{
    font-size: 15px;
    a{
      font-size: 12px;
    }
    #footer_copyright{
      font-size: 14px;
    }
    #footer_logo{
      a{
        font-size: 23px;
      }
    }

    #footer_social {
      a {
        font-size: 30px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 40%
}

#footer_logo {
    width: 50%;
    text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }


  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }



}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  body{
    font-size: 48px;
  }

  .factTools {
      font-size: 20px;
      margin-top: 25px;
      a {
        font-size: 20px;
        text-transform: uppercase;
      }
      display: block;

      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }

  .trending_content_item {
    width: 30%;
  }
  #logo {
      margin-left: 40px;
  }

  #footer{
    font-size: 16px;
    a{
      font-size: 13px;
    }
    #footer_copyright{
      font-size: 15px;
    }
    #footer_logo{
      a{
        font-size: 26px;
      }
    }

    #footer_social {
      a {
        font-size: 33px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 40%
}

#footer_logo {
    width: 50%;
    text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }


}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
  body{
    font-size: 55px;
  }

  .factTools {
      font-size: 25px;
      margin-top: 25px;
      a {
        font-size: 25px;
        text-transform: uppercase;
      }
      display: block;

      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }
  .trending_content_item {
    width: 30%;
  }

  #logo {
      margin-left: 55px;
  }


  #footer{
    font-size: 16px;
    a{
      font-size: 13px;
    }
    #footer_copyright{
      font-size: 15px;
    }
    #footer_logo{
      a{
        font-size: 26px;
      }
    }

    #footer_social {
      a {
        font-size: 33px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 40%
}

#footer_logo {
    width: 50%;
    text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }


  #prev {
    top: 6.2em;
  }
  #prevT {
    top: 5.9em;
  }

  #next {
    top: 6.2em;
  }
  #nextT {
    top: 6.4em;
  }



}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  body{
    font-size: 60px;
  }

  .factTools {
      font-size: 30px;
      margin-top: 25px;
      a {
        font-size: 30px;
        text-transform: uppercase;
      }
      display: flex;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
      }
  }
  .trending_content_item {
    width: 30%;
  }

  #logo {
    margin-left: 55px;
  }



  #footer{
    font-size: 17px;
    a{
      font-size: 14px;
    }
    #footer_copyright{
      font-size: 16px;
    }
    #footer_logo{
      a{
        font-size: 27px;
      }
    }

    #footer_social {
      a {
        font-size: 34px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 40%
}

#footer_logo {
    width: 50%;
    text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

#prev {
  top: 6.2em;
}
#prevT {
  top: 5.9em;
}

#next {
  top: 6.2em;
}
#nextT {
  top: 6.4em;
}


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
  body{
    font-size: 65px;
  }

  .factTools {
      font-size: 32px;
      margin-top: 25px;
      a {
        font-size: 32px;
        text-transform: uppercase;
      }
      display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
      }
  }
  .trending_content_item {
    width: 30%;
  }

  #logo {
      margin-left: 55px;
  }

  #footer{
    font-size: 17px;
    a{
      font-size: 14px;
    }
    #footer_copyright{
      font-size: 16px;
    }
    #footer_logo{
      a{
        font-size: 27px;
      }
    }

    #footer_social {
      a {
        font-size: 34px;
      }
    }
  }

  #footer_social {
    width: 25%;
}

#footer_about{
  width: 40%
}

#footer_logo {
    width: 50%;
    text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

#prev {
  top: 6.2em;
}
#prevT {
  top: 5.9em;
}

#next {
  top: 6.2em;
}
#nextT {
  top: 6.4em;
}



}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2200px) {
  body{
    font-size: 70px;
  }

  .factTools {
      font-size: 35px;
      margin-top: 25px;
      a {
        font-size: 35px;
        text-transform: uppercase;
      }
      display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }
  .trending_content_item {
    width: 30%;
  }

  #logo {
    margin-left: 55px;
}

#footer{
  font-size: 18px;
  a{
    font-size: 15px;
  }
  #footer_copyright{
    font-size: 17px;
  }
  #footer_logo{
    a{
      font-size: 28px;
    }
  }

  #footer_social {
    a {
      font-size: 35px;
    }
  }
}

#footer_social {
  width: 25%;
}

#footer_about{
width: 40%
}

#footer_logo {
  width: 50%;
  text-align: left;
}

#footer_about a {
  padding-left: 1em;
  padding-right: 1em;
}


#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#prev {
  top: 6.2em;
}
#prevT {
  top: 5.9em;
}

#next {
  top: 6.2em;
}
#nextT {
  top: 6.4em;
}



}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2560px) {
  body{
    font-size: 85px;
  }

  .factTools {
      font-size: 40px;
      margin-top: 30px;
      a {
        font-size: 40px;
        text-transform: uppercase;
      }
      display: block;
      .slide-tool-item {
        width: auto;
      }
      .slide-tool-share-html {
        width: 100%;
        width: auto;
    }
  }
  .trending_content_item {
    width: 30%;
  }

  #logo {
      margin-left: 55px;
  }




  #footer{
    font-size: 20px;
    a{
      font-size: 16px;
    }
    #footer_copyright{
      font-size: 18px;
    }
    #footer_logo{
      a{
        font-size: 30px;
      }
    }

    #footer_social {
      a {
        font-size: 36px;
      }
    }
  }

  #footer_social {
      width: 25%;
  }

  #footer_about{
    width: 40%
  }

  #footer_logo {
      width: 50%;
      text-align: left;
  }

  #footer_about a {
      padding-left: 1em;
      padding-right: 1em;
  }

  #footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
  }



#prev {
  top: 6.2em;
}
#prevT {
  top: 5.9em;
}

#next {
  top: 6.2em;
}
#nextT {
  top: 6.4em;
}


}

